<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>System Point Management - Login</title>
</head>
<body>
    <div>
        <div class="screen-20">
            <div class="header">
                <span><b>TRƯỜNG ĐẠI HỌC ABC</b></span>
                <span style="font-size: medium;"><b>Số 280 An Dương Vương, phường 4, quận 5, TP.HCM</b></span>
                <span style="font-size: medium;"><b>Điện thoại: 0123456789</b></span>
            </div>
        </div>
        <div class="screen-80">
            <div class="pop-up">
                <div class="check-role">
                    <div class="check-role-item">
                        <input type="radio">
                        <span><b>Sinh viên</b></span>
                    </div>
                    <div class="check-role-item">
                        <input type="radio">
                        <span><b>Giáo viên</b></span>
                    </div>
                    <div class="check-role-item">
                        <input type="radio">
                        <span><b>Phòng giáo vụ</b></span>
                    </div>
                </div>
                <div class="form-login">
                    <form action="get">
                        <label for="">Tên đăng nhập:</label>
                        <input type="text" name="" id="">
                        <br>
                        <label for="">Mật khẩu:</label>
                        <input type="password" name="" id="">
                        <br>
                        <div>
                            <input type="checkbox" name="" id="" style="float: left;">
                            <span>Ghi nhớ lần đăng nhập sau</span>
                            <button class ="button-as" type="button" onclick="none">Đăng nhập</button>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>