<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>System Point Management - Login</title>
</head>
<body>
    <div>
        <div class="screen-20">
            <div class="header">
                <span><b>TRƯỜNG ĐẠI HỌC ABC</b></span>
                <span style="font-size: medium;"><b>Số 280 An Dương Vương, phường 4, quận 5, TP.HCM</b></span>
                <span style="font-size: medium;"><b>Điện thoại: 0123456789</b></span>
            </div>
        </div>
        <div class="screen-80">
            <div class="pop-up">
                
                <div class="form-login">
                    <form id="loginForm" method="POST" action="login">
                        {% csrf_token %}

                        <div class="check-role">
                            <div class="check-role-item">
                                <input type="radio" name="checka" id="check" value="student" class="checkb" required>
                                <span><b>Sinh viên</b></span>
                            </div>
                            <div class="check-role-item">
                                <input type="radio" name="checka" id="check" value="teacher" class="checkb" required>
                                <span><b>Giáo viên</b></span>
                            </div>
                            <div class="check-role-item">
                                <input type="radio" name="checka" id="check" value="admin" class="checkb" required>
                                <span><b>Phòng giáo vụ</b></span>
                            </div>
                        </div>

                        <label for="username">Tên đăng nhập:</label>
                        <input type="text" name="username" id="username" placeholder="Tên đăng nhập">
                        <br>
                        <label for="password">Mật khẩu:</label>
                        <input type="password" name="password" id="password" placeholder="Mật khẩu">
                        <br>
                        <div>
                            <input type="checkbox" name="remember" id="remember" style="float: left;">
                            <span>Ghi nhớ lần đăng nhập sau</span>
                            <button class="button-as" type="submit">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <script>
        function login() {
            const tendangnhap = document.getElementById('username').value;
            const matkhau = document.getElementById('password').value;
            let phanquyen = '';
            document.querySelectorAll('.checkb').forEach(x => {
                if(x.checked === true)
                    phanquyen += x.value;
            })
            fetch('api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    tendangnhap: tendangnhap,
                    matkhau: matkhau,
                    phanquyen: phanquyen,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    window.location.href = '/home';  // Điều hướng đến trang chính
                } else {
                    alert(data.message);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script> -->
</body>
</html>
