{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/forgotPassword.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </head>
    <body class='container'>
        <!--Header-->
        <div class="screen-20">
            <div class="header">
                <span><b>TRƯỜNG ĐẠI HỌC ABC</b></span>
                <span style="font-size: medium;"><b>Số 280 An Dương Vương, phường 4, quận 5, TP.HCM</b></span>
                <span style="font-size: medium;"><b>Điện thoại: 0123456789</b></span>
            </div>
        </div>
        <!--Body-->
        <div class='container-body'>
           <div class='main-form'>
                <h2>Reset Password</h2>
                <form id='form1' method='get'>
                    <div>
                         <input type='password'  name="password" class="form-input" id='password' placeholder="Nhập mật khẩu" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"><br>
                    </div>
                    <span class="form-message"></span>
                    <div>
                        <input type='password'  name="confirm-pw" class="form-input" id='confirm-pw' placeholder="Nhập lại mật khẩu"
                        onfocus="displayErrorMessage_confirmPW()"
                        onblur="checkPasswordMatch()" ><br>
                    </div>
                    <span class="confirm-message"></span>
                </form>
                <div>
                    <button class='button-resetpw' onclick="checkAndDirect()">Reset Password</button>
               </div>
           </div>
              
        </div>
        <!--Script-->
        <script>
            document.getElementById("password").addEventListener("input", function() {
                hideErrorMessage();
            });


            $(document).ready(function() {
                // Kiểm tra mật khẩu khi người dùng nhập
                $('#password').on('input', function() {
                    var password = $(this).val();
                    if (password.length < 8 || !(/[A-Z]/.test(password)) || !(/[!@#$%^&*()_+]/.test(password))) {
                        $('.form-message').text('Mật khẩu phải có ít nhất 1 ký tự ghi hoa, 1 ký tự đặc biệt');
                    } else {
                        $('.form-message').text('');
                    }
                });
            });

            function displayErrorMessage() {
                var message = document.querySelector(".form-message");
                var password = $('#password').val();
                if(password != null) {
                    message.innerText=""
                } else {
                message.innerText = "Vui lòng nhập mật khẩu";
                message.style.color='red';
                }
            }
            
            // Hàm ẩn thông báo
            function hideErrorMessage() {
                var message = document.querySelector(".form-message");
                message.innerText = ""; // Xóa nội dung thông báo
                
            }

            function displayErrorMessage_confirmPW() {
                var message = document.querySelector(".confirm-message");
                message.innerText = "Vui lòng nhập lại mật khẩu";
            }
   
            function checkPasswordMatch() {
                var password = $('#password').val();
                var confirmPassword = $('#confirm-pw').val();
    
                if (password === confirmPassword) {
                    $('.confirm-message').text('');
                } else {
                    $('.confirm-message').text('Mật khẩu nhập lại không khớp');
                }
            }
            function checkAndDirect(){
                var password = $('#password').val();
                var confirmPassword = $('#confirm-pw').val();
                 if(password.trim()==="" || confirmPassword.trim()===""){
                    return false;
                 } else {
                    <a href=''></a>
                 }
            }
        </script>
    </body>
</html>
