<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/studentPoint.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>StudentPoint Management</title>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <h2><img src="./static/images/icon-.png" style="width: 24px; height: 24px; vertical-align: middle;" /> HI ADMIN</h2>
            <a class="active" href="{% url 'Homepage' %}"><i class="fa fa-home"></i> Trang chủ</a>
            <a href="sinhvien"><i class="fa fa-user"></i> Sinh viên</a>
            <a href="educationprogram"><i class="fa-solid fa-list"></i> Chương trình đào tạo</a>
            <a href="studentPoint"><i class="fa fa-book"></i> Quản lý nhập điểm</a>
            <a href=""><i class="fa fa-file-text"></i> Kết quả tốt nghiệp</a>
            <a href="{% url 'Logout' %}"><i class="fa fa-sign-out"></i> Đăng xuất</a>
            <img src="./static/images/logo.png" alt="Logo" class="logo">
        </nav>

        <div class="content">
            <div class="events">
                <div class="event">
                    <div class="header-icons">
                        <input type="text" placeholder="Tìm kiếm..." class="search-bar" style="width: 400px;">
                        <span class="icon"><i class="fa fa-comments"></i></span>
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <span class="icon"><i class="fa fa-bell"></i></span>
                    </div>
                </div>
                <h2 id="instruction">Vui lòng chọn ngành và môn học muốn nhập điểm!</h3>
                <form class="select-container" method="GET" action="{% url 'Studentpoint' %}" onchange="this.form.submit()">
                    
                    <!-- Ô select chọn ngành -->
                    <select id="department" name="department" onchange="this.form.submit()">
                        <option value="" {% if not selected_department %}selected{% endif %}>-- Chọn ngành --</option>
                        {% for department in departments %}
                        <option value="{{ department.manganh }}" {% if department.manganh == selected_department %}selected{% endif %}>{{ department.tennganh }}</option>
                        {% endfor %}
                    </select>
                    
                    <!-- Ô select chọn môn học -->
                    <select id="subject" name="subject"  onchange="this.form.submit()">
                        <option value="" {% if not selected_subject %}selected{% endif %}>-- Chọn môn học --</option>
                        {% for subject in subjects %}
                        <option value="{{ subject.mahp }}" {% if subject.mahp == selected_subject %}selected{% endif %}>{{ subject.tenhp }}</option>
                        {% endfor %}
                    </select>
                    <!-- Thêm một input hidden để lưu giữ giá trị môn học được chọn -->
                    <input type="hidden" name="selected_subject" value="{{ selected_subject }}">

                    <!-- <button type="submit">Hiển Thị</button> -->
                </form>
                <div class="popup-form" id="addForm">
                    <h3>Thêm điểm sinh viên</h3>
                    <form method="POST" id="addFormContent" class="popupFormContent" style="margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="popup_form" value="true">
                        <input type="hidden" name="selected_subject" value="{{ selected_subject }}">
                        <input type="hidden" name="is_update" value="false">
                        <span class="close" onclick="closeForm('addForm')">&times;</span>
                        <label for="add_mssv">Mã số sinh viên:</label>
                        <input type="text" id="add_mssv" name="mssv" required>
                        <label for="add_diem_gk">Điểm GK:</label>
                        <input type="number" id="add_diem_gk" name="diem_gk" min="0" max="10" step="0.01" required>
                        <label for="add_diem_ck">Điểm CK:</label>
                        <input type="number" id="add_diem_ck" name="diem_ck" min="0" max="10" step="0.01" required>
                        <label for="add_diem_tong">Điểm Trung Bình:</label>
                        <input type="number" id="add_diem_tong" name="diem_tong" min="0" max="10" step="0.01" required>
                        <button id="submitAddPopup" type="submit">Submit</button>
                    </form>
                </div>

                <div class="popup-form" id="updateForm">
                    <h3>Cập nhật điểm sinh viên</h3>
                    <form method="POST" id="updateFormContent" class="popupFormContent" style="margin-top: 10px;">
                        {% csrf_token %}
                        <input type="hidden" name="popup_form" value="true">
                        <input type="hidden" name="selected_subject" value="{{ selected_subject }}">
                        <input type="hidden" name="is_update" value="true">
                        <span class="close" onclick="closeForm('updateForm')">&times;</span>
                        <label for="update_mssv">Mã số sinh viên:</label>
                        <input type="text" id="update_mssv" name="mssv" readonly required>
                        <label for="update_hotensv">Họ và Tên:</label>
                        <input type="text" id="update_hotensv" name="hotensv" readonly required>
                        <label for="update_malop">Lớp:</label>
                        <input type="text" id="update_malop" name="malop" readonly required>
                        <label for="update_diem_gk">Điểm GK:</label>
                        <input type="number" id="update_diem_gk" name="diem_gk" min="0" max="10" step="0.01" required>
                        <label for="update_diem_ck">Điểm CK:</label>
                        <input type="number" id="update_diem_ck" name="diem_ck" min="0" max="10" step="0.01" required>
                        <label for="update_diem_tong">Điểm Trung Bình:</label>
                        <input type="number" id="update_diem_tong" name="diem_tong" min="0" max="10" step="0.01" required>
                        <button id="submitUpdatePopup" type="submit">Submit</button>
                    </form>
                </div>
                
                <h2 class="tlt-table">{% for subject in subjects %}
                    {% if subject.mahp == selected_subject %}
                        <h2 name="mahp" value="{{subject.mahp}}" class="titlee">DANH SÁCH ĐIỂM SINH VIÊN MÔN "{{ subject.tenhp | upper }}" NĂM HỌC 2023-2024</h2>
                    {% endif %}
                {% endfor %}</h2>
                <table>
                    <thead>
                        <tr>
                            <!-- <th>Tên lớp học phần</th> -->
                            <th>MSSV</th>
                            <th>Họ và Tên</th>
                            <th>Lớp</th>
                            <th>Điểm GK</th>
                            <th>Điểm CK</th>
                            <th>Điểm Trung Bình</th> <!-- Thêm cột tổng -->
                            <th>Tùy chọn</th> <!-- Thêm cột hành động -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in student_list %}
                        <tr>
                            <!-- <td>{{ student.tenlophp }}</td> -->
                            <td>{{ student.mssv }}</td>
                            <td>{{ student.hotensv }}</td>
                            <td>{{ student.malop }}</td>
                            <td>{{ student.diem_gk }}</td>
                            <td>{{ student.diem_ck }}</td>
                            <td>{{ student.diem_tong }}</td> <!-- Hiển thị điểm tổng -->
                            <td>
                                <button onclick="openForm('updateForm', '{{ student.mssv }}', '{{ student.hotensv }}', '{{ student.malop }}', '{{ student.diem_gk }}', '{{ student.diem_ck }}', '{{ student.diem_tong }}')" class="update-button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                {% for subject in subjects %}
                                    {% if subject.mahp == selected_subject %}
                                <a href="studentPoint/xoadiem/{{student.mssv}}/{{subject.mahp}}" onclick="thongbao()"><i class="fa fa-trash"></i></a>
                                    {% endif %}
                                {%endfor%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button onclick="openForm('addForm')" class="add-button"><i class="fa fa-plus"></i></button> <!-- Button thêm -->
                
            </div>
        </div>
    </div>
    
    <script>
        function thongbao(){
                setTimeout(()=>{
                    alert('Đã xóa thành công ')
                },2000)
        }
        
        function openForm(formId, mssv = '', hotensv = '', malop = '', diem_gk = '', diem_ck = '', diem_tong = '') {
            document.getElementById(formId).style.display = "block";

            if (formId === 'updateForm') {
                document.getElementById('update_mssv').value = mssv;
                document.getElementById('update_hotensv').value = hotensv;
                document.getElementById('update_malop').value = malop;
                document.getElementById('update_diem_gk').value = diem_gk;
                document.getElementById('update_diem_ck').value = diem_ck;
                document.getElementById('update_diem_tong').value = diem_tong;
            }
        }

        function closeForm(formId) {
            document.getElementById(formId).style.display = "none";
        }

        $(document).ready(function() {
            // Bắt sự kiện khi form pop-up submit
            $('.popupFormContent').submit(function(event) {
                event.preventDefault(); // Ngăn chặn hành động mặc định của form
                var formData = $(this).serialize(); // Lấy dữ liệu từ form
                // Gửi request POST đến server
                $.post('', formData, function(data) {
                    // Hiển thị thông điệp từ server
                    alert(data.message);
                });
                
            });
        });

        var departmentSelect = document.getElementById('department');
        var subjectSelect = document.getElementById('subject');
        var instruction = document.getElementById('instruction');
        var addButton = document.querySelector('.add-button');

        window.onload = function() {

            // Thiết lập sự kiện onchange cho cả hai ô select
            departmentSelect.addEventListener('change', checkSelection);
            subjectSelect.addEventListener('change', checkSelection);

            
            // Kiểm tra trạng thái ban đầu của các ô select khi tải trang
            checkSelection();
        };
        // Hàm kiểm tra giá trị của hai ô select
        function checkSelection() {
            if (departmentSelect.value && subjectSelect.value) {
                // Nếu cả hai ô select đã có giá trị, ẩn phần tử h3
                instruction.style.display = 'none';
                addButton.style.display = 'block';
            } 
            else if (!departmentSelect.value && subjectSelect.value) {
                instruction.textContent = "Vui lòng chọn ngành muốn nhập điểm!";
            } 
            else if (departmentSelect.value && !subjectSelect.value) {
                instruction.textContent = "Vui lòng chọn môn học muốn nhập điểm!";
            } 
            else {
                // Ngược lại, hiển thị phần tử h3
                instruction.style.display = 'block';
            }
        }
    </script>
</body>
</html>
