.container{
    flex:1
}
.container-header{
   background:Linear-gradient(#e45f5f,#4b3cad);
    border: 1px solid black;
    height:200px;
    width: 100%;
}
.text-header{
    color:aliceblue;
    text-align: center;
    font-size: 20;
    font-family: 'Noto Serif Display';
}
p{
    text-align: center;
    color: aliceblue;
    font-size: 15;
}
.container-body{
    display: flex;
    justify-content: center;
    padding:20px;
    align-items: center;
    height: calc(100vh - 150px); 

}
.main-form{
    border: 1px solid white;
    box-shadow:1px 1px 1px 1px rgb(137, 136, 136);
    height:350px;
    width: 500px;
}
.main-form h2{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#form1{
    width:80%; 
    margin: 0 auto;
    
}
.form-message {
    text-align:justify;
    font-weight: bold;
    margin-left: 20px;
}
.confirm-message{
    text-align: justify;
    font-weight: bold;
    margin-left: 20px;
}
.form-input{
    width:80%;
    padding: 10px;
    height:16%; 
    margin-bottom: 5px; 
    margin-top: 25px;
    margin-left: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

.button-resetpw{
    width:65%;
    height:16%;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 20px;
    background: #1877f2;
    border-color: azure;
    color:aliceblue;
    font-weight:bold;
}