.container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.header {
    background-image: linear-gradient(to right, #e45f5f, #4b3cad);
    color: white;
    text-align: center;
    position: relative;
    align-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
}
.screen-20
{
    position: relative;;
    height: 20vh;
}
.header span {
    display: block;
    font-size: 25px;
    font-family: 'Noto Serif Display';
}
p{
    text-align: center;
    color: aliceblue;
    font-size: 15;
}
a{
    text-decoration: none;
    color:aliceblue ;
}
.container-body {
    display: flex;
    justify-content: center; /* Horizontally centers the child elements */
    align-items: center;     /* Vertically centers the child elements */
    padding: 20px;
    height: calc(100vh - 150px);
}
.main-form {
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px rgb(137, 136, 136);
    height: 400px;
    width: 500px;
    display: flex;          
    flex-direction: column; 
    justify-content: center; 
}
.main-form h2{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: 20;
    margin-bottom: 5px;
}
#form1{
    width:80%; 
    margin: 0 auto;
    
}
.form-message {
    text-align:justify;
    font-weight: bold;
    margin-left: 20px;
}
.confirm-message{
    text-align: justify;
    font-weight: bold;
    margin-left: 20px;
}
.form-input {
    width: 80%;
    padding: 20px;
    margin: 10px 0px 0px 30px;   /* Auto left-right margin for centering */
    border-radius: 10px;
}
.button-forgotpw{
    width: 80%;         
    height: 40%;
    border-radius: 10px;
    margin: 20px 0px 0px 30px;  
    background: #1877f2;
    border-color: azure;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}
.button-resetpw {
    width: 80%;         
    height: 30%;
    border-radius: 10px;
    margin: 10px 0px 0px 30px;  
    background: #1877f2;
    border-color: azure;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
